
body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h2 {
	font-size: 20px;
	text-align: center;
}

canvas {
	border-radius: 3px;
	border: 0px solid black;
	cursor: pointer;
}	

div {
	margin-top: 10px;
}

button {
	border: none;
	border-radius: 3px;
	cursor: pointer;
	background-color: rgb(200, 200, 200);
	 -webkit-transition: background-color 0.15s; /* Safari */
	transition: background-color 0.15s;
}

button:hover {
	background-color: rgb(150, 150, 150);
}

button:active {
	background-color: rgb(230, 230, 230);
}

.numberInput {
	width: 50px;
}

.linkInputsButton {
	width: 24px;
	height: 18px;
	background-image: url("../img/icons/link-24px.svg");
	background-position: center;
	background-repeat: no-repeat;
}

.linkInputsButton.off {
	background-image: url(../img/icons/link_off-24px.svg);
}

.reinitButton {
	width: 30px;
	height: 30px;
	background-image: url("../img/icons/replay-24px.svg");
	background-position: center;
	background-repeat: no-repeat;
}

#loadImage {
	margin-bottom: 10px;
}

#canvasContainer {
	display: flex;
	justify-content: center;
	align-items: center;

	min-height: 400px;
}

#controlPane {
	display: flex;
	
}

#canvasSizeControl {
	margin-right: 20px;
}
